<header>
    <div class= "header-logo">
    <a href="/">FacebookApp</a>
        FacebookApp
    </div>
    <ul class="header-menus">
        <li><a href="/about">FacebookAppについて</a></li>
    </ul>
</header>
<div class="main top-main">
    <div class="top-message">
        <h2>FacebookCloneへようこそ！</h2>
        <p>楽しく呟いて世界中と共有しよう</p>
    </div>
<div>
